<settings version="2">
    <setting id="tmdb_details">true</setting>
    <setting id="widgets_nextpage">true</setting>
    <setting id="mdblist_apikey">2y7ofo43lnxrvjapee41z61ke</setting>
    <setting id="combined_players">false</setting>
    <setting id="gkobusettmdbh" default="true">1.3</setting>
</settings>
